*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 1600px;
}
header{
    position: absolute;
    width: 1600px;
    height: 80px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    padding: 14px 63px 14px 220px;
    cursor: pointer;
}
.nav_bar{
    position: absolute;
    left: 365px;
}
.nav_bar a{
   margin-left: 58px;
   text-decoration: none;
   color: #FFFFFF;
   font-weight: 500;
   font-size: 16px;
   line-height: 140%;
   transition: .5s ease;
}
.nav_bar a:hover{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.nav_bar .design{
    margin-left: 438px;
}
.one{
    width: 1600px;
    height: 780px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: url(../../assets/images/Giant\ Panda.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ellipse{
    position: absolute;
    width: 465px;
    height: 465px;
    right: 328px;
    left: 807px;
    top: 92px;
    border-radius: 50% 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
.ellipse p{
    position: absolute;
    width: 500.31px;
    height: 400px;
    top: 74px;
    left: 73px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.ellipse p span{
    color: #FFEE2E;
}
.btn1{
    position: absolute;
    width: 298px;
    height: 54px;
    margin: 626px 319px 100px 983px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    padding: 16px 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.two{
    display: flex;
    margin: 140px 220px 0px 219px;
}
.content{
    padding: 0 87px 180px ;
}
.title{
    margin: 0 0 20px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: #333B41;
}
.info{
    margin: 0 0 54px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #333B41;
}
.text{
    margin: 0 0 34px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}
.text_info{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    color: #333B41;
}
.flower{
    position: absolute;
    width: 219px;
    height: 700px;
    left: 1370px;
    top: 792px;
    background: url(../../assets/images/flower_foto1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.animal_cards{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    column-gap: 10px;
    margin: 180px 222px 80px 220px;
}
.blog_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 370px;
    height: 456px;
    margin: 30px 20px;
    border: 1px solid #FA6F32;
    border-radius: 5px;
}
.blog_text h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;    
    text-transform: uppercase;
    color: #000000;
    padding: 8px 16px;    
}
.blog_text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
    padding: 0px 16px;    
}
.blog_icon img{
    width: 50px;
    height: 52px;
}
.arrow_elipse_1{ 
    position: absolute;
    width: 62px;
    height: 62px;
    left: 120px;
    top: 2110px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50% 50%;
}
.arrow_elipse_2{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 1500px;
    top: 2120px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50% 50%;
}
.btn_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 100px 6rem;
}
.btn_2 a{
    padding: 1rem 3rem ;
    background: #FE9013;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.strelitzia img{
    position: absolute;
    left: 1220px;
    top: 2601px;
}
.palm{
    position: absolute;
    left: 0;
    top: 2400px;
}
.four{
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    height: 1004px;
    padding: 69px 220px 100px 220px;
}
.container{
    width: 1160px;
    height: 835px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    margin: auto;
    padding: 2.5rem;
}
.title h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
}
.container_text h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
    margin-bottom: 40px;
}
.container_text h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
    margin-bottom: 10px;
}
.container_text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 130%;
    color: #333B41;
    margin-bottom: 60px;
}
.title_icons h3{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
    margin-bottom: 40px;
}
.container_icons{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
}
.cards{
    margin: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card_img{
    background: #fff;
    width: 168px;
    height: 168px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 /15%);
    border-radius: 10px
}
.card_text{
    width: 168px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #333B41;
}
.btn3{
    width: 298px;
    height: 54px;
    margin: 0 auto;
    text-align: center;
}
.btn3 a{
    padding: 1rem 3rem ;
    background: #FE9013;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.five{
    height: 910px;
}
.testimon_container{
    width: 1160px;
    height: 600px;
    margin: 0 auto;
    margin-top: 140px;
}
.testimon_title h2{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    text-align: center;
    color: #333B41;
    margin-bottom: 50px;
}
.testimon_cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
}
.testimon_card{
    border: 1px solid #F9804B;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 60px;
}
.card_top{
    display: flex;
    padding: 30px 0;
}
.card_top img{
    color: #767474;
    padding:  0 10px;
}
.card_top p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #000;
}.card_top p span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #BDBDBD;
}
.testimon_text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
}
.line_scrool{
    width: 600px;
    height: 8px;
    background: #F5F7F6;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.line{
    width: 115px;
    height: 6px;
    background: #FE9013;
    border-radius: 5px;
    cursor: pointer;
}
.btn4{
    width: 298px;
    height: 54px;
    margin-bottom: 180px;
}
.btn4 a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    padding: 16px 70px;
}
.leav_flow {
    margin-left: 1350px;
    
}
.foot{
    height: 443px;
    background: #111115;
    top: 0;
    padding: 40px;
}
.foot_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo_foot{
    width: 82px;
    height: 52px;
    margin: 0  0 30px;
}
.title_foot{
    position: absolute;
    left: 1047px;

}
.title_foot h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.title_foot input{
    width: 228px;
    height: 42px;
    background:#111115 ;
    border: 1px solid #FE9013;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    margin: 0 10px;
}
.title_foot button{
    position: absolute;
    width: 129px;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #4B9200;
    background: #F1F3F2;
    border: 1px solid #4B9200;
    border-radius: 5px;
}
.btn_links{
    margin-top: 50px;
}
.btn_links a{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    padding: 14px 28px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;       
}
.foot_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social_links{
   display: flex;
   margin-top: 50px;
   flex-direction: column;
  
   
}
.link{
    display: flex;
    margin-bottom: 15px;
}
.social_links i{
    background: #C4C4C480;
    width: 32px;
    height: 32px;
    text-align: center;
    padding-top: 7px;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
}
.social_links a{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}
.nav_foot{
    margin-top: 9rem;
}
.nav_foot a{
    margin-right: 58px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.nav_foot a:hover{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
.foot_text{
    margin-top: 106px;
}

